body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

p {
  margin: 5px;
}

a {
  padding: 5px;
}

img {
  margin: 50px 0px 0px 0px;
}
label {
  color: black;
  font-size: 15px;
}
input {
  margin: 5px;
  width: 150px;
  padding: 5px;
  border-radius: 3px;
}
.submit_btn {
  background-color: #61dafb;
  border-radius: 10px;
  height: 30px;
  font-size: 15px;
  border: black 1px solid;
  margin: 5px;
}


/* ===================HOME FORM==================== */

#home_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  color: black;
  border: solid 3px #61dafb;
  width: 300px;
  border-radius: 5px;
}

#home_btn {
  background-color: #61dafb;
  border-radius: 10px;
  height: 30px;
  font-size: 15px;
  border: black 1px solid;
}

/* ================FORGOT USER INFO FORM======================== */
#forgot_form {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  color: black;
  border: solid 3px #61dafb;
  border-radius: 5px;
}

#forgot_btn {
  background-color: #61dafb;
  border-radius: 10px;
  height: 30px;
  font-size: 15px;
  border: black 1px solid;
}

/* ================ACCOUNT CREATION FORM======================== */

#acct_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  color: black;
  border: solid 3px #61dafb;
  width: 350px;
  border-radius: 5px;
}

